@page
@model TESIS_OG.Pages_Clientes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].NombreApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].TipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Cuit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].IdDireccionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].IdEstadoClienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDireccionNavigation.IdDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoClienteNavigation.IdEstadoCliente)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdCliente">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdCliente">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
